.calculator-container {
    width: 50%;
    max-width: 1000px;
    height: 80vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content:center;
}

.calculator-container section.form {
    width: 100%;
    margin-right: 30 px;
}

.calculator-container section.form form{
    margin-top: 20px;
}

.calculator-container section.form form{
    margin-top: 20px;
}

.calculator-container section.form form h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(240, 243, 49);
}

.calculator-container section.form form h2 {
    margin-top: 20px;
    color: rgb(240, 243, 49);
}

.calculator-container section.form img {
    height: 80%;
    width: 80%;
    padding-left: 20%;
    padding-top: 20%;
}

.calculator-container section.form form button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.calculator-container section.form form nav {
    margin-top: 8px;
    color:rgb(240, 243, 49);
    font-size: 30px;
    transition: opacity 0.2s;
}

li {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    color: rgb(240, 243, 49);
}

ul li {
    display: table-cell;
}

ul li a {
    display: block;
}

.calculator-container section.form form nav:hover {
    opacity: 0.8;
    cursor: pointer;
}
