@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #0c0c0c;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

.button {
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration:none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;   
}

ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 5px;
}
li {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    color: rgb(240, 243, 49);
}

ul li {
    display: table-cell;
}
ul li a {
    display: block;
}

.button:hover {
    filter: brightness(90%);
}